---
interface Props {
  num: number | string;
  title: string;
  text: string;
  class?: string;
}

const { num, title, text, class: className } = Astro.props;
---

<div class:list={["step", className]}>
  <div class="num">{num}</div>
  <div class="step-ic">
    <slot />
  </div>
  <h4>{title}</h4>
  <p>{text}</p>
</div>
