---
interface Props {
  num: number | string;
  title: string;
  text: string;
}

const { num, title, text } = Astro.props;
---

<div class="step">
  <div class="num">{num}</div>
  <div class="step-ic">
    <slot />
  </div>
  <h4>{title}</h4>
  <p>{text}</p>
</div>
